@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url("/static/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
    font-family: Inter;
    font-style: italic;
    font-weight: 100 900;
    font-display: swap;
    src: url("/static/fonts/InterVariable-Italic.woff2") format("woff2");
}

@font-face {
    font-family: Vollkorn;
    font-style: normal;
    font-display: swap;
    src: url("/static/fonts/Vollkorn-Regular.woff2") format("woff2");
}

@font-face {
    font-family: Vollkorn;
    font-style: italic;
    font-display: swap;
    src: url("/static/fonts/Vollkorn-Italic.woff2") format("woff2");
}

/* Variables */
:root {
    --paper-color: #fbf5ef;
    --ink-color: #3d3945;
    --hilite-color: #e8e1d1;
    --ink2-color: #b52137;
}

/* Typography */
html {
    background-color: var(--paper-color);

    font-family: "Vollkorn", Georgia, Times, serif;
    font-size: 1.2rem;
    font-optical-sizing: auto;
    line-height: 1.45;
    color: var(--ink-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2.5rem;
    max-width: 500px;
}

footer {
    font-size: .7rem;
    text-align: right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", Helvetica, Arial, sans-serif;
    font-weight: 200;
}

h1 {
    color: var(--ink2-color);
}

time {
    font-style: italic;
}

/* Links */
a {
    text-transform: lowercase;
    font-family: "Vollkorn", Georgia, Times, serif;
    font-variant: small-caps;
    text-decoration: none;
    color: inherit;
    border-radius: 4px;
    transition-property: background-color;
    transition-duration: .75s;
}

a:hover {
    background-color: var(--hilite-color);
    border-radius: 4px;
}

a.source {
    text-transform: none;
    font-variant: normal;
    font-family: "Vollkorn", Georgia, Times, serif;
}

a.source:after {
    content: "° ";
    color: var(--ink2-color);
}
